<section class="section section-shaped section-lg">
      <div  class="shape  bg-gradient-secondary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
<div  class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0" style="min-width: 500px;">
<div class="card-body px-lg-5 py-lg-5">
  <img style="width: 20%; margin-left: 40%" src="/assets/img/brand/weg_azul.png"><br><br>
                <div class="text-center text-muted mb-4">
                  <small>Entre com os detalhes do colaborador</small>
                </div>
                <form>
                 
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-badge"></i></span>
                      </div>
                      <input class="form-control" placeholder="Cadastro" id="cadastro" type="text">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                      </div>
                      <input class="form-control" placeholder="Nome" id="nome" type="text">
                     
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-building"></i></span>
                      </div>
                      <input class="form-control" list="secoes" id="secao" placeholder="Seção" type="text">
                       <datalist id="secoes">
                          
                          <option>	Depto Administrativo (Linhares)	</option>
                          <option>	Depto Controle da Qualidade (Linhares)	</option>
                          <option>	Depto Fabricacao I (Linhares)	</option>
                          <option>	Depto Fabricacao II (Linhares)	</option>
                          <option>	Depto Injecao / Estamparia (Linhares)	</option>
                          <option>	Depto Usinagem (Linhares)	</option>                        
                          <option>	Secao Administrativa (Linhares)	</option>
                          <option>	Secao Bobinagem I A (Linhares)	</option>
                          <option>	Secao Bobinagem I B (Linhares)	</option>
                          <option>	Secao Bobinagem II A (Linhares)	</option>
                          <option>	Secao Bobinagem II B (Linhares)	</option>
                          <option>	Secao Controladoria (Linhares)	</option>
                          <option>	Secao Controle Componentes (Linhares)	</option>
                          <option>	Secao Controle Produtos I (Linhares)	</option>
                          <option>	Secao Controle Produtos II (Linhares)	</option>
                          <option>	Secao Encaixe (Linhares)	</option>
                          <option>	Secao Engenharia de Processos Componentes (Linhares)	</option>
                          <option>	Secao Engenharia de Processos Montadoras (Linhares)	</option>
                          <option>	Secao Engenharia do Produto (Linhares)	</option>
                          <option>	Secao Engenharia do Produto/Laboratorio (Linhares)	</option>
                          <option>	Secao Estamparia Diversos (Linhares)	</option>
                          <option>	Secao Estamparia Processamento e Tratamento de Chapas (Linhares)	</option>
                          <option>	Secao Ferramentaria (Linhares)	</option>
                          <option>	Secao Infraestrutura e Utilidades (Linhares)	</option>
                          <option>	Secao Injecao Diversos (Linhares)	</option>
                          <option>	Secao Injecao Rotores (Linhares)	</option>
                          <option>	Secao Manutencao I (Linhares)	</option>
                          <option>	Secao Manutencao II (Linhares)	</option>
                          <option>	Secao Manutencao III (Linhares)	</option>
                          <option>	Secao Montagem I A (Linhares)	</option>
                          <option>	Secao Montagem I B (Linhares)	</option>                          
                          <option>	Secao Montagem II A (Linhares)	</option>
                          <option>	Secao Montagem II B (Linhares)	</option>
                          <option>	Secao PCP/Expedicao (Linhares)	</option>
                          <option>	Secao Planejamento de Manutencao (Linhares)	</option>
                          <option>	Secao Rotor Completo (Linhares)	</option>
                          <option>	Secao Suprimentos/Almoxarifado (Linhares)	</option>
                          <option>	Secao Segurança e Medicina do Trabalho (Linhares)	</option>
                          <option>	Secao Usinagem Componentes (Linhares)	</option>
                          <option>	Secao Usinagem de Eixos (Linhares)	</option>
                          <option>	Secao Usinagem Tampas (Linhares)	</option>
                     
                      </datalist>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-building"></i></span>
                      </div>
                      <input class="form-control" list="departamentos" id="departamento" placeholder="Departamento" type="text">
                       <datalist id="departamentos">
                         <option>Depto Administrativo (Linhares)</option>  
                         <option>Depto Controle da Qualidade (Linhares)</option> 
                         <option>Depto Fabricacao I (Linhares)</option>
                         <option>Depto Fabricacao II (Linhares)</option>                       
                         <option>Depto Industrial (Linhares)</option>  
                         <option>Depto Injecao / Estamparia (Linhares)</option>  
                         <option>Depto Usinagem (Linhares)</option>  
                                                
                      </datalist>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-watch-time"></i></span>
                      </div>
                      <input class="form-control" list="turnos" id="turno" placeholder="Turno" type="text">
                      <datalist id="turnos">   
                        <option>1</option>
                        <option>2</option> 
                        <option>3</option> 
                        <option>N</option>                   
                      </datalist>

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-badge"></i></span>
                      </div>
                      <input class="form-control" placeholder="Crachá" id="cracha2" type="text">
                    </div>
                  </div>
                  
                  
                  <div class="text-center">
                    <p style="display:none; color: green" id="feedback">Feedback da transação...</p>
                    <button type="button" id="salvar" class="btn btn-success mt-4">SALVAR</button>
                    <button style="display: none;" type="button" id="deletar" class="btn btn-danger mt-4">EXCLUIR</button>
                  </div>
                </form>
              </div>
</div></div></div></div></div>
</section>

<script src="form.js"></script>