<br><br><br><br>
<section class="section section-shaped section-lg">
      <div  class="shape  bg-gradient-neutral">
          
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
         
            <div class="row justify-content-center" style="width: 90%; margin-left: 5%">
            
                           

                                <h3>Todos os Registros</h3>
                                <input style="width: 30%; margin-left: 2%" type="text" class="form-control" id="pesquisa" placeholder="Pesquise aqui... (Ex.: '2020-04'... Mês de abril)" name="pesquisaHistorico">
                                <button class="btn btn-info" style="margin-left: 1%;" id="search">BUSCAR</button>
                                <label style="float: left; margin-left: 2%" for="calendar">Selecione uma data: </label><input style="float: left; margin-left:1%;" type="date" id="calendar">
                                <button style="margin-left: 4%; float: left" class="btn btn-default" id="botao">EXPORTAR PARA EXCEL</button>
                        
                                <br>
                                <br>
                                <section  style="min-width: 100%; color: green; font-wheight: bold; text-align: center">
                               
                                  
                                </section>
                                <br>
                                <br>


                                    <table id="tblExport" class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Cadastro</th>
                                        <th>Nome</th>
                                        <th>Seção</th>
                                        <th>Departamento</th>
                                        <th>Entrou</th>
                                        <th>Saiu</th>
                                    
                                        <th class="text-right">Motivo</th>
                                            <th class="text-right">Duração</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabela">
                                  <tr>
                                      <td >xxxxx</td>
                                       <td>xxxxx</td>
                                        <td>xxxxx</td>
                                         <td>xxxxx</td>
                                          <td>xxxxx</td> 
                                          <td>xxxxx</td>
                                           <td class="text-right">xxxxx</td>
                                            <td class="text-right">xxxxx</td>

                                  </tr>
                                </tbody>
                            </table>







                
                </div>
       
                <script src="main.js"></script>


      </div>
</section>
  